<!DOCTYPE html>
<html>
<head>
  <title>Tagger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> -->
</head>
<body>

<div id="top"></div>

<a id="destroy-button" href="<%= ROOT_URL %>?clear_cache=true">clear cache</a> <br>

<hr>

<div id="link-to-html">
  <%= yield %>
</div>



</body>
</html>
